#STPGPage { position: relative; }

#STPG li, #STPG dt { background: url("images/li_dt.png") no-repeat 5px 10px; }

#STPG #STPGPageRouter {
	margin: 5px 0;
	padding: 0;
}
#STPG #STPGPageRouter li {
	margin: 0;
	padding: 5px 10px 5px 20px;
	display: inline;
	list-style-type: none;
	background: url("images/li_router.png") no-repeat 0 5px;
}



/* layout */
#STPGPageHeader {
	margin: 0 0 10px 0;
	padding: 0;
	height: 80px;
}
#STPGPageContentLeft { float: left; width: 80%; }
#STPGPageContentRight { float: right; width: 80%; }
#STPGPageContentAll { width: 100%; }
#STPGPageMenuRight { float: right; width: 18%; }
#STPGPageMenuLeft { float: left; width: 18%; }
#STPGPageMenuNone { display: none; }

#STPGPage { position: relative; }
#STPGPageHeader {
	border-top: 5px solid #6D89D5;
	border-bottom: 10px solid #6D89D5;
	background: url("images/bg_header.jpg");
}
#STPGPage #STPGPageHeaderNavigationWithHD {
	position: absolute;
	top: 5px;
	right: 10px;
}
#STPGPage #STPGPageHeaderNavigationWithHD li { display: inline; }
#STPGPage #STPGPageHeaderNavigationNoHD  {
	margin-bottom: 5px;
	padding: 5px;
	background: #D1E2FE;
}
#STPGPage #STPGPageHeaderNavigationNoHD  ul{ text-align: right; }
#STPGPage #STPGPageHeaderNavigationNoHD li { display: inline; }
#STPGPageMenuRight, #STPGPageMenuLeft {
	padding: 0;
	border: 1px solid #6D89D5;
}

#STPGPageSiteTitle {
	margin: 5px 0 0 10px;
	padding: 0;
	font-size: medium;
	font-weight: bold;
	color: #2B4281;
}
#STPGPageSiteTitle a { font-weight: bold; color: #2B4281; }
#STPGPageSiteTitle a:hover { text-decoration: none; }
#STPGPageSiteSlogan {
	margin: 5px 0 0 10px;
	padding: 0;
	font-size: small;
	font-weight: normal;
	color: #6D89D5;
}

#STPGPagePageTitle {
	margin: 0 0 10px 0;
	padding: 5px 0 5px 5px;
	font-size: medium;
	font-weight: bold;
	background: #FFF;
	color: #062270;
	border-top: 2px dashed #476DD5;
	border-right: 2px dashed #476DD5;
	border-bottom: 2px dashed #476DD5;
	border-left: 10px solid #476DD5;
}

#STPGPageListFiles dd div {
	width: 100px;
	text-align: center;
	float: left;
}
#STPGPageListFiles dd ul li {
	margin: 0 100px;
	padding: 5px 0 5px 20px;
}
#STPGPageListFiles dd form ul li {
	margin: 0;
}
#STPGPageListFiles .STPGPageListFilesDelete { background: none; }
#STPGPageListFiles .STPGPageListFilesDelete a {
	margin: 0 5px 0 0;
	padding: 3px 10px; 
	border: 1px solid #CCC;
	background: url("images/li_buttonlist.png") repeat-x;
	font-weight: bold;
	color: #333;
}
#STPGPageListFiles .STPGPageListFilesDelete a:hover { text-decoration: none; }

.STPGPageBlockTitle {
	margin: 0;
	padding: 5px;
	background: #6D89D5;
	color: #2B4281;
	font-weight: bold;
}
.STPGPageBlockContent { padding: 5px; }
#STPGPage .STPGPageBlockPagetypeFolder { background: url("images/li_pagefolder.png") no-repeat 5px 10px; }
#STPGPage .STPGPageBlockPagetypePage { background: url("images/li_pagepage.png") no-repeat 5px 10px; }

#STPGPage .STPGPageThefile { background: #EEE; }